{% extends 'core/password_recovery/recovery_base.html' %}

{% load i18n %}

{% block extra_style %}
    #recover-confirm {
        margin-top: 50px;
        border-radius: 10px;
        border: 1px solid grey;
        padding: 15px;
    }
{% endblock %}

{% block main_content %}
    {% if not request.user.is_authenticated %}
        {% if validlink %}
            <form action="{{ request.path }}" id="recover-confirm" method="post">
                {% csrf_token %}
                <legend>{% trans 'Восстановление пароля' %}</legend>
                <div class="form-group">
                    <label class="col-form-label required" for="new_password1">{% trans 'Введите новый пароль' %}</label>
                    <input type="password" id="new_password1" name="new_password1" required="required" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="col-form-label required" for="new_password2">{% trans 'Введите новый пароль еще раз' %}</label>
                    <input type="password" id="new_password2" name="new_password2" required="required" class="form-control" />
                </div>
                <div class="form-group row mb-0">
                    <div class="col-sm-6 pl-sm-0"></div>
                    <div class="col-sm-6 pl-sm-1">
                        <input type="submit" class="btn-blue" value="{% trans 'Восстановить' %}">
                    </div>
                </div>
            </form>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {% trans "Ссылка на восстановление пароля - некорректная. Возможно восстановление пароля уже проведено." %}
            </div>
        {% endif %}
    {% else %}
        <p class="error">{% trans "Нельзя восстанавливать пароль, если вы авторизованы." %}</p>
    {% endif %}
    <script>
        $(document).ready(() => {
            $('body').on('submit', '#recover-confirm', function (event) {
                event.preventDefault();
                console.log('in handler');
                let form = $(this);
                form.find('.error').remove();
                $.ajax({
                    url: form.attr('action'),
                    method: 'POST',
                    data: form.serialize(),
                    async: true,
                    form: form,
                    wraps: [$('.form-group', form)],
                    dataType: 'json'
                }).done((response) => {
                    console.log(response)
                    if (response.status) {
                        location.href = response.data.redirect_url;
                    } else {
                        var form_errors = response.form_errors;

                        if (form_errors) {
                            for (var name in form_errors) {
                                var errors = form_errors[name];
                                var field = $('[name="' + name + '"]', form);

                                if (field.attr('type') == 'hidden') {
                                    field = field.parent();
                                }
                                for (var error of errors) {
                                    field.before('<div class="error" style="color:red">' + error + '</div>');
                                }
                            }
                        }
                    }
                });
                return false;
            });
        });
    </script>

{% endblock %}