.btn-blue {
    background: #0092e4;
    color: #fff;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
}

.authentication {
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

.form-group.checkbox-filter-group {
    display: grid;
}

.my-picker {
    line-height: 2;
    font-size: 18px;
    width: 299%;
}

.asteriskField {
    color: red;
    padding-left: 5px;
    font-size: 20px;
}

.icon-profile {
    display: inline !important;
    padding-left: 5px;
}

.icon-profile:hover {
    color: grey;
}

.companies, .user-profile, .employees  {
    margin-top: 40px !important;
    margin-left: 50px !important;
    padding: 15px;
    border: 1px solid #b8bfcf;
    border-radius: 5px;
}

.company-user:hover {
    background-color: #ccc;
}

.user-contacts {
    padding-left: 0px;
}

.user-contacts p {
    font-size: 20px !important;
}