.btn-blue {
    background: #0092e4;
    color: #fff;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
}

.authentication {
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
}
